<?xml version="1.0"?>
<config>
	<modules>
		<OneAll_SingleSignOn>
			<version>1.0.0</version>
		</OneAll_SingleSignOn>
	</modules>
	<frontend>
		<routers>
			<oneall_singlesignon>
				<use>standard</use>
				<args>
					<module>OneAll_SingleSignOn</module>
					<frontName>oneall_singlesignon_ajax</frontName>
				</args>
			</oneall_singlesignon>
		</routers>
		<layout>
			<updates>
				<oneall_singlesignon module="oneall_singlesignon">
					<file>oneall-singlesignon.xml</file>
				</oneall_singlesignon>
			</updates>
		</layout>
	</frontend>	
	<global>
		<events>
			<customer_login>
				<observers>
		 			<OneAll_SingleSignOn_Model_Observer>
		 				<type>singleton</type>
						<class>OneAll_SingleSignOn_Model_Observer</class>	
						<method>customerLogin</method>									
		 			</OneAll_SingleSignOn_Model_Observer>
		 		</observers>
			</customer_login>
			<customer_logout>
				<observers>
		 			<OneAll_SingleSignOn_Model_Observer>
		 				<type>singleton</type>
						<class>OneAll_SingleSignOn_Model_Observer</class>	
						<method>customerLogout</method>									
		 			</OneAll_SingleSignOn_Model_Observer>
		 		</observers>
			</customer_logout>
		</events>
		
		<blocks>
			<oneall_singlesignon>
				<class>OneAll_SingleSignOn_Block</class>
			</oneall_singlesignon>
		</blocks>
		<models>
			<oneall_singlesignon>
				<class>OneAll_SingleSignOn_Model</class>
				<resourceModel>oneall_singlesignon_resource</resourceModel>
			</oneall_singlesignon>
			<oneall_singlesignon_resource>
				<class>OneAll_SingleSignOn_Model_Resource</class>
				<entities>
					<session>
						<table>oneall_singlesignon_session</table>
					</session>
					<user>
						<table>oneall_singlesignon_user</table>
					</user>
				</entities>
			</oneall_singlesignon_resource>
		</models>
		<resources>
			<oneall_singlesignon_setup>
				<setup>
					<module>OneAll_SingleSignOn</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</oneall_singlesignon_setup>
			<oneall_singlesignon_write>
				<connection>
					<use>core_write</use>
				</connection>
			</oneall_singlesignon_write>
			<oneall_singlesignon_read>
				<connection>
					<use>core_read</use>
				</connection>
			</oneall_singlesignon_read>
		</resources>
		<helpers>
			<oneall_singlesignon>
				<class>OneAll_SingleSignOn_Helper</class>
			</oneall_singlesignon>
		</helpers>
	</global>
	<default>
		<oneall_singlesignon>
			<connection>
				<handler>curl</handler>
				<port>443</port>
			</connection>
		</oneall_singlesignon>
	</default>
</config> 