<?xml version="1.0"?>
<config>
	<modules>
		<OneAll_SingleSignOn>
			<version>1.0.0</version>
		</OneAll_SingleSignOn>
	</modules>
	<frontend>
		<routers>
			<oneall_singlesignon>
				<use>standard</use>
				<args>
					<module>OneAll_SingleSignOn</module>
					<frontName>oneall_singlesignon_ajax</frontName>
				</args>
			</oneall_singlesignon>
		</routers>
		<layout>
			<updates>
				<oneall_singlesignon module="oneall_singlesignon">
					<file>oneall-singlesignon.xml</file>
				</oneall_singlesignon>
			</updates>
		</layout>
	</frontend>	
	<global>
		<events>		
			<controller_action_predispatch_customer_account_loginpost>
				<observers>
					<OneAll_SingleSignOn_Model_Observer>
		 				<type>singleton</type>
						<class>OneAll_SingleSignOn_Model_Observer</class>	
						<method>customer_before_login</method>									
		 			</OneAll_SingleSignOn_Model_Observer>
				</observers>
			</controller_action_predispatch_customer_account_loginpost>		
			<customer_login>
				<observers>
		 			<OneAll_SingleSignOn_Model_Observer>
		 				<type>singleton</type>
						<class>OneAll_SingleSignOn_Model_Observer</class>	
						<method>customer_after_login</method>									
		 			</OneAll_SingleSignOn_Model_Observer>
		 		</observers>
			</customer_login>			
			<controller_action_predispatch_customer_account_editpost>
				<observers>
					<OneAll_SingleSignOn_Model_Observer>
		 				<type>singleton</type>
						<class>OneAll_SingleSignOn_Model_Observer</class>	
						<method>customer_before_update_account</method>									
		 			</OneAll_SingleSignOn_Model_Observer>
				</observers>
			</controller_action_predispatch_customer_account_editpost>		
			<controller_action_layout_load_before>
				<observers>
		 			<OneAll_SingleSignOn_Model_Observer>
		 				<type>singleton</type>
						<class>OneAll_SingleSignOn_Model_Observer</class>	
						<method>layout_load_before</method>									
		 			</OneAll_SingleSignOn_Model_Observer>
		 		</observers>
			</controller_action_layout_load_before>			
			<customer_save_after>			
				<observers>
		 			<OneAll_SingleSignOn_Model_Observer>
		 				<type>singleton</type>
						<class>OneAll_SingleSignOn_Model_Observer</class>	
						<method>customer_save_after</method>									
		 			</OneAll_SingleSignOn_Model_Observer>
		 		</observers>
			</customer_save_after>			
			<customer_register_success>
				<observers>
		 			<OneAll_SingleSignOn_Model_Observer>
		 				<type>singleton</type>
						<class>OneAll_SingleSignOn_Model_Observer</class>	
						<method>customer_register</method>									
		 			</OneAll_SingleSignOn_Model_Observer>
		 		</observers>
			</customer_register_success>			
			<customer_logout>
				<observers>
		 			<OneAll_SingleSignOn_Model_Observer>
		 				<type>singleton</type>
						<class>OneAll_SingleSignOn_Model_Observer</class>	
						<method>customer_after_logout</method>									
		 			</OneAll_SingleSignOn_Model_Observer>
		 		</observers>
			</customer_logout>
		</events>		
		<blocks>
			<oneall_singlesignon>
				<class>OneAll_SingleSignOn_Block</class>
			</oneall_singlesignon>
		</blocks>
		<models>
			<oneall_singlesignon>
				<class>OneAll_SingleSignOn_Model</class>
				<resourceModel>oneall_singlesignon_resource</resourceModel>
			</oneall_singlesignon>
			<oneall_singlesignon_resource>
				<class>OneAll_SingleSignOn_Model_Resource</class>
				<entities>
					<session>
						<table>oneall_singlesignon_session</table>
					</session>
					<user>
						<table>oneall_singlesignon_user</table>
					</user>
				</entities>
			</oneall_singlesignon_resource>
		</models>
		<resources>
			<oneall_singlesignon_setup>
				<setup>
					<module>OneAll_SingleSignOn</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</oneall_singlesignon_setup>
			<oneall_singlesignon_write>
				<connection>
					<use>core_write</use>
				</connection>
			</oneall_singlesignon_write>
			<oneall_singlesignon_read>
				<connection>
					<use>core_read</use>
				</connection>
			</oneall_singlesignon_read>
		</resources>
		<helpers>
			<oneall_singlesignon>
				<class>OneAll_SingleSignOn_Helper</class>
			</oneall_singlesignon>
		</helpers>
	</global>
	<default>
		<oneall_singlesignon>
			<connection>
				<handler>curl</handler>
				<port>443</port>
			</connection>
			<settings>		
				<sessionlifetime>86400</sessionlifetime>
				<sessiontoprealm></sessiontoprealm>
				<sessionsubrealm></sessionsubrealm>				
			</settings>
			<accounts_create>
				<automatic>1</automatic>
				<sendmail>0</sendmail>
			</accounts_create>
			<accounts_link>
				<automatic>1</automatic>
				<unverified>0</unverified>
			</accounts_link>
		</oneall_singlesignon>
	</default>
</config> 